
{%extends "components/layout.html" %} 
{%block content%} 

<style>
    .box_1
    {
        border:1px solid black;
        padding: 20px 0px;
        border-radius: 20px;
        background-color: rgb( 255 , 255 , 255 , 0.9);
        margin-top: 50px;
    }

    .whyUsBody
    {
        background-image: url("./static/car_images/used_images/campbell-3ZUsNJhi_Ik-unsplash1.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>
<body class="whyUsBody">

<main >
    
    <section class="container box_1" style="text-align: center;">
        <div class="row" style="text-align: center;">
            <h1 style="text-align: center; padding:20px ; "  >Why Us?</h1>
            <p class="col-8 offset-2" style="font-size:20px">
                We are living in a 21st century. Every man dream of buying a car.
                But in Todays world, malpractice and curruption like things are exist. due to this,
                people in a middle class family couldn't afford to buy a car or they may get cheated by
                a car showroom owner.To avoid this type of malpractice, we are here with our website
                "CAR CANVAS".
            </p>
            <br>
            <h3>WHAT WE PROVIDE?</h3>
            <br><br>
            <div style="text-align: center;">
                <h4>1.Obtaining a Competitive Price for your Car.</h4>
                <h4> 2.Contacting the Car Owner Directly.</h4>
                <h4> 3.EMI calculator for financial planning</h4>
            </div>
            <p class="col-10 offset-1 mt-3" style="font-size:20px" > Our website provides a platform to easily deal with the complex process of Buying Second-Hand
                Car.Our Goal Is To Spread Awareness of Buying Second-Hand Car.
            </p>

        </div>

</main>
</body>

{% endblock %}