*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

.form_car_outSide_body
{
	/* background-image: url("/static/car_images/used_images/campbell-3ZUsNJhi_Ik-unsplash1.jpg");
	background-size: cover; */
}

.form_car_body
{

    /*background-color : darkcyan;*/
    /* background-image: url("/static/car_images/used_images/campbell-3ZUsNJhi_Ik-unsplash1.jpg"); */
    background-size:cover;
	border: 2px;
	max-width: 700px;
	width: 100%;
	background-color: rgb(255, 255 , 255 , 0.9);
	margin: 20px auto;
	padding: 30px;
	border: 1px black solid;
	border-radius: 20px;
	/* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
	/* padding: 0 10px; */
}

/* .container
{
	border: 2px;
	max-width: 700px;
	width: 100%;
	background-color: white;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
} */
.form_car_body .title
{
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 25px;
	color: black;
	text-transform: uppercase;
	text-align: center;
	/*font-size: 35px;
      font-weight: 700;
      font-family:  sans-serif;
      margin-bottom: 25px;
      color: darkcyan;
      text-transform: uppercase;
      text-shadow: 1px 1px 0px #957dad,
               1px 2px 0px #957dad,
               1px 3px 0px #957dad,
               1px 4px 0px #957dad,
               1px 5px 0px #957dad,
               1px 6px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
               text-align: center;*/

}
.form_car_body .form
{
	width: 100%;
}
.form_car_body .form .input_field
{
	margin-bottom: 15px;
	display: flex;
	align-items:center ;
}
.form_car_body .form .input_field label
{
	width: 150px;
	margin-right:18px ;

	font-size: 18px;


}
.form_car_body .form .input_field .input
{
	width: 70%;
	outline: none;
	margin-left:45px;
	border: 1px  solid black;
	font-size:15px ;
	padding: 8px 9px;
	border-radius: 4px;
	transition: all 0.5s ease;
}
.form_car_body .form .input_field .textarea
{
	resize: none;
	width: 70%;
	margin-left:45px;
	height: 70px;
	border: 1px solid black;
	border-radius: 4px;
}
.form_car_body .form .input_field .custom_select
{
	position:relative ;
	width: 70%;
	height: 37px;
}
.form_car_body .form .input_field .custom_select select
{
	-webkit-appearance: none;
	appearance: none;
	margin-left:43px;
	position: relative;
	width: 70%;
	height: 40px;
	padding: 8px 9px;
	border: 1px solid black;
	border-radius: 4px;
    outline: none;
}
.form_car_body .form .input_field .custom_select:before
{
	content: "";
	position: absolute;
	/*margin-left:45px;*/
	top: 0;
	right: 0;
	border: 8px solid black;
	border-color: black transparent transparent transparent;
	pointer-events: none;


}
.form_car_body .form .input_field .input:focus,
.form_car_body .form .input_field .textarea:focus,
.form_car_body .form .input_field select:focus
{
	border: 1px solid black;
}
.form_car_body .form .input_field p
{
	font-size: 14px;
	color: #757575;

}
.form_car_body .form .input_field .check
{
	width: 15px;
	height: 15px;
	position: relative;
	display: block;
	cursor: pointer;
}
.form_car_body .form .input_field .check input[type="checkbox"]
{
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
}

.form_car_body .form .input_field .check .checkmark
{
	width: 15px;
	height: 15px;
	border: 1px solid black;
	display: block;
	position: relative;

}
.form_car_body .form .input_field .check .checkmark:before
{
	content: "";
	position: absolute;
	top: 1px;
	left: 2px;
	width: 5px;
	height: 2px;
	border: 2px solid;
	border-color:  transparent transparent white white;
	transform: rotate(-45deg);
}
.form_car_body .form .input_field .check input[type="checkbox"]:checked ~ .checkmark
{
	background: darkcyan;
}
.form_car_body .form .input_field .check input[type="checkbox"]:checked ~ .checkmark:before
{
	display: block;
}
.form_car_body .form .input_field .btn
{
	width: 100%;
	padding: 8px 9px;
	font-size: 15px;
	border: 0;
	background: black;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	outline: none;
}
.form_car_body .form .input_field:last-child
{
	margin-bottom: 0;
}
.form_car_body .form .input_field .btn:hover
{
	background: darkblue;
}
@media (max-width: 420px)
{
	.form_car_body .form .input_field
	{
		flex-direction: column;
		align-items: flex-start;
	}
	.form_car_body .form .input_field label
	{
		margin-bottom: 5px;
	}
	.form_car_body .form .input_field.terms
	{
		flex-direction: row;
	}
}